# Visual Studio
.vs/
*.suo
*.user
*.rsuser

# Build
bin/
obj/

# Rider / VS Code (se usar)
.idea/
.vscode/

# Logs
*.log
/.vs/PadroesDeProjetoEstrutural.slnx/v18/DocumentLayout.backup.json
/.vs/PadroesDeProjetoEstrutural.slnx/v18/DocumentLayout.json
/.vs/PadroesDeProjetoEstrutural.slnx/v18/.suo
